@model LabServices.Models.LoginModel

@{
    ViewBag.Title = "changepassword";
    if (Session["UserType"] != null)
    {
        if (Session["UserType"].ToString() == "LSP")
        {
            Layout = "~/Views/Shared/LSPMaster.cshtml";
        }
        else if (Session["UserType"].ToString() == "Patient")
        {
            Layout = "~/Views/Shared/PatientMaster.cshtml";
        }
        else if (Session["UserType"].ToString() == "HCP")
        {
            Layout = "~/Views/Shared/HCPMaster.cshtml";
        }

    }
}
<style>
    .vdanger {
        color: red;
        font-size: medium;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
    
        $("#change").click(function () {
            var $regexname = '^([a-zA-Z0-9*#]{8,15})$';
            
            var password = $("#password").val();
            var newpassword = $("#newpassword").val();
            var confirmpassword = $("#confirmpassword").val();
            var userid="0";
           
            if (password.length == 0) {
              
                $("#PasswordLable").text("*");
                return false;
            }
            else
            {
                $("#PasswordLable").text("");
            }
            if (newpassword.length == 0) {
                
                $("#NewPasswordLable").text("*");
                return false;
            } else {
                $("#NewPasswordLable").text("");
            }
            if (confirmpassword.length==0) {
                $("#ConfirmPasswordLable").text("*");
                return false;
            } else {
                $("#ConfirmPasswordLable").text("");
            }
            if (confirmpassword != newpassword) {
                $("#ConfirmPasswordLable").text("New password and Confirm Password not matched");
                return false;
            } else {
                $("#ConfirmPasswordLable").text("");
            }
            if (newpassword.length < 10) {

                $("#NewPasswordLable").text("Password should be 10 characteristic");
                return false;
            } else {
                $("#NewPasswordLable").text(""); 
            }
            //  alert(regex.test(newpassword));
            if (newpassword.match($regexname))
                
            {
                $("#NewPasswordLable").text("Password strength is not good.");
                return false;
            }
            else
            {
                $("#NewPasswordLable").text("");
              
            }
            //if (!regex.value.match(newpassword)) {
            //  alert("Password strength is not good.");
         //  }

            $.ajax( {

                type:"POST",
                url : "/Login/NewPassword/",
                datatype:JSON,
                data: { userid: userid, password: password, newpassword: newpassword,confirmpassword:confirmpassword},
                success : function (response) {
                    console.log(response);
                    if(response==1)
                    {
                        $("#msg").show();
                        $("#errormsg").hide();
                       
                    }
                    else
                    {
                        $("#msg").hide();
                          $("#errormsg").show();
                    }
                    $("#password").val("");
                    $("#newpassword").val("");
                    $("#confirmpassword").val("");
                }
            });
        });
      
        //(/^
       // (?=.*\d)                should contain at least one digit
       // (?=.*[a-z])             //should contain at least one lower case
      //  (?=.*[A-Z])             //should contain at least one upper case
      //  [a-zA-Z0-9]{8,}         //should contain at least 8 from the mentioned characters
     //   $/)
    });
</script>
<h3>Change Password</h3>
@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
{
    <div id="msg" style="display:none">
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Updated Successfully!!
        </div>
    </div>
    <div id="errormsg" style="display:none">
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Password is invalid!!!
        </div>
    </div>
    <div class="form-horizontal" id="Register">
        <div class="row">
            <div class="form-group">
             <hr />
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Password,"Password", htmlAttributes: new { @class = "control-label  font" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", id = "password"  } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <span id="PasswordLable" class="vdanger"></span>
                </div>
                
            </div>
        </div>


        <div class="row">
            <label><b></b></label>
        </div>


        <div class="row">
            <div class="form-group">
                
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.NewPassword,"New Password", htmlAttributes: new { @class = "control-label  font" })
                    </div>
               
                <div class="col-md-8">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", type = "password", id = "newpassword" } })
                
                    <span id="NewPasswordLable" class="vdanger"></span>
                </div>
           
            </div>
        </div>

        <div class="row">
            <label><b></b></label>
        </div>

        <div class="row">
            <div class="form-group">
                
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.NewPassword,"Confirm Password", htmlAttributes: new { @class = "control-label  font" })
                    </div>
                
                <div class="col-md-8">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", type = "password", id = "confirmpassword" } })
                 
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    <span id="ConfirmPasswordLable" class="vdanger"></span>
                </div>
                <span id="ConfirmPasswordLable" class="vdanger"></span>
            </div>
        </div>

        <div class="row">
            <label><b></b></label>
        </div>


        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="button" value="Change Password" class="btn " id="change" style="background-color :#1abc9c ; color:white" />
                </div>
            </div>
        </div>

    </div>

}

