@model LabServices.Models.LoginModel

@{
    ViewBag.Title = "ForgetPassword";
}
  <!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="~/Main.css" />
<script type="text/javascript">

    $(document).ready(function () {
        $('#quest').click(function () {
        
            if ($("#quest1").val().length == 0 || $("#quest2").val().length == 0 || $("#quest3").val().length == 0)
            {
                $('#quest1').css('border-color', 'red');
                $('#quest2').css('border-color', 'red');
                $('#quest3').css('border-color', 'red');
                return false;
            }

        });
        $('#questions').hide();
        $('#userId').focus();
        $('#verify').attr('disabled', true);
        $('#quest').attr('disabled', true);
        $('#quest1').blur(function () {

            var userid = $("#quest1").val();
            if (userid.length == 0) {
                $('#quest1').css('border-color', 'red');
                $('#quest').attr('disabled', true);

            }
            else {
                $('#quest1').css('border-color', 'green');
                $('#quest').attr('disabled', false);
            }
        });
        $('#quest2').blur(function () {

            var userid = $("#quest2").val();
            if (userid.length == 0) {
                $('#quest2').css('border-color', 'red');
                $('#quest').attr('disabled', true);

            }
            else {
                $('#quest2').css('border-color', 'green');
                $('#quest').attr('disabled', false);
            }
        });
        $('#quest3').blur(function () {

            var userid = $("#quest3").val();
            if (userid.length == 0) {
                $('#quest3').css('border-color', 'red');
                $('#quest').attr('disabled', true);

            }
            else {
                $('#quest3').css('border-color', 'green');
                $('#quest').attr('disabled', false);
            }
        });
        $('#userId').blur(function () {

            var userid = $("#userId").val();
            if (userid.length == 0) {
                $('#userId').css('border-color', 'red');
                $('#verify').attr('disabled', true);

            }
            else {
                $('#userId').css('border-color', 'green');
                $('#verify').attr('disabled', false);
            }
        });
        $("#verify").click(function () {      
            var userid = $("#userId").val();
            $.ajax(
                {
                    type: "POST",
                    url: "/Login/VerifyId/",
                    datatype: "json",
                    data: { userid: userid },
                    success: function (response) {
                        $('#a').show();
                        if (response == 0)
                        {
                            $("#a").text("UserId not found!!!");
                        }
                        else
                        {
                            $("#a").text(response + " User Verified Successfully!!");
                            $('#questions').show();
                            $('#Logview').hide();
                            $('#quest1').focus();
                        }
                     
                      
                    }
             
                });
         
        });
    });
</script>


@using (Html.BeginForm("VerifyQuestion", "Login", FormMethod.Post))
{
  
    <div class="container" style="padding: 60px;">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <div class="modal-head">
                <h2>
                    <a href="#" id="loginform" class="menu">Forgot Password</a>
                </h2>
            </div>
          
                <div class="form-group">

                    <div class="alert alert-success alert-dismissable" id="a" style="display:none">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @ViewData["msg"];
                    </div>
                </div>
           

           
            <div class="col-md-10 modal-content" id="Logview">
                <div id="useri">

                        <div class="form-group">
                            <label class="col-md-1"><i class="fa fa-user fa-lg"></i></label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.UserID, new { @class = "form-control   col-sm-offset-1 ", id = "userId", placeholder = "User Id" })
                                <span id="UserLable" class="vdanger"></span>
                            </div>
                        </div>
           
                        <div class="form-group">
                            <label class="col-md-1"></label>
              <div class="col-md-12 col-md-offset-1">
             <input type="button" value="Verify" class="btn btn col-md-12" style="  background-color: #1abc9c; color:white" id="verify" />
               <span id="UserLable" class="vdanger"></span>
                </div>
                           
                    </div>

                    <div class="row">
                        <label><b></b></label>
                    </div>
                </div>
               
                <div class="row">
                    <label><b></b></label>
                </div>
                </div>
           
            <div class="col-md-10 modal-content" id="questions" style="padding:40px">
                        <div class="form-group">
                            <div class="col-md-12">
                            <h4 class="green"> Answer Security Questions</h4>
                            </div>
                        </div>
                        <div class="form-group">    
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.BirthCity,  new { @class = "form-control", type = "password",placeholder= " Birth City" ,id="quest1"  })
                            </div>
                        </div>
                <div class="form-group">
                    <div class="col-md-10">
                       <label></label>
                    </div>
                </div>
             
                        <div class="form-group">    
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.FavActor, new  { @class = "form-control", type = "password" ,placeholder= " Favourite Actor" , id = "quest2" })
                                
                            </div>
                        </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label></label>
                    </div>
                </div>

                        <div class="form-group">                     
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.FavFood, new { @class = "form-control", type = "password" ,placeholder= "Favourite Food" , id = "quest3" } )
                            
                            </div>
                        </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label></label>
                    </div>
                </div>


                
                        <div class="form-group">
                            <div class=" col-md-10">
                                <input type="submit" value="Verify" class="btn btn col-md-12" style="  background-color: #1abc9c; color:white"  id="quest"/>
                            </div>
                    
                    </div>
            


            </div>
        </div>
        <div class="col-md-2"></div>
     
        </div>
}
<div class="col-md-4"></div>
<div class="col-md-6">
@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    if (ViewData["Password"] != null)
    {
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Password : @ViewData["Password"]
        </div>
                <input type="submit" class="btn " style="  background-color: #1abc9c; color:white" value="Login" />
                <script type="text/javascript"> $(document).ready(function () { $('#Logview').hide(); });</script>
    }
    if (ViewData["msg"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @ViewData["msg"]
        </div>
                <script type="text/javascript"> $(document).ready(function () { $('#questions').show(); $('#Logview').hide(); });</script>
    }
}
</div>
<div class="col-md-1"></div>