@model LabServices.Models.LoginModel

@{
    ViewBag.Title = "Login";

    Layout = "~/Views/Shared/abc.cshtml";
}
<script type="text/javascript">
  
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          
            <div class="col-md-10">
               @Html.TextBox("myTextBox", "User Id", new { @class = "form-control", id="userId"})  
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
               <span id="lbluserid">jkhjg</span>
            </div>
        </div>

        <div class="form-group">
          
            <div class="col-md-10">
                @Html.TextBox("myTextBox", "Password", new { @class = "form-control", id="Password"})
                
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

      
        <div class="form-group">
            <div class="col-lg-offset-1">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
        @Html.ActionLink("ForgotPassword", "Forgot Password?")
    </div>
}